<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

    
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    
<title>Mercado Liebre</title>

  
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
   

    
<link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
    
 
<header>  
     
<section class="principal">
<div class="logo">
<img src= "/images/logo-mercado-liebre.svg" alt ="Logo de Mercado Liebre">
</div>


<form id="buscar">
<input  type="search" name="Barra de busqueda" placeholder="Buscar productos, marcas..."> 
<button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>


            
<section id="pagar">
<h3><i class="fa-solid fa-hand-holding-dollar"></i><b>Comprá en cuotas y sin tarjeta de crédito</b></h3>
</section>
            


      
       
        
<section class="opciones login">

  
<nav id="opciones1">

   <a href ="/">Ofertas</a>
  <a href ="/">Tiendas Oficales</a>
 <a href ="/">Vender</a>
<a href ="/">Ayuda</a>
</nav>
  
<nav id="opciones2">
<a href = "/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
<a href = "/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
<a href = "/">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a>
</nav>



<div class="burger-menu">
<i class="fas fa-bars"></i>
</div>

</section>
</header>

    
   
   
<div id="banner"><img src= "/images/img-home-banner.jpg"></div>

     
  
    
<main>
    <form class="login" action="/login.html" method="get">
            <h2> INGRESAR </h2>
            <div class="nombreusuario">
                <label for=""></label>
                <input type="text" name="usuario" class="usuario" placeholder="Nombre de Usuario" minlength="5" required>
            </div>
            
            <div class="contraseña">
                <label for=""></label>
                <input type="password" name="password" class="password" placeholder="Contraseña"  minlength="5" required>
            </div>

            <div class="boton">
                <button type="submit" name="botonlogin" id="botonlogin">Enviar</button>
                </button>
            </div>
        

    </form>        
    
    </main>

    
   
    <footer>
        <section id="pie">

            <article class="pagotarjeta">
                <section id="credito"><i class="fa-solid fa-credit-card"></i></section>
                <b>Pagá con tarjeta o en efectivo </b>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            
            <article class="enviogratis">
                <section id="envio"><i class="fa-solid fa-gift"></i></section>
                <b>Envío gratis desde $ 2.500</b>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            
            <article class="protegido">
                <section id="seguridad"><i class="fa-solid fa-user-shield"></i></section>
                <b>Seguridad, de principio a fin</b>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article> 
            
            <p id="derechosautor">Copyright © 1999-2020 MercadoLiebre S.R.L</p>

        </section>
    </footer>

</body>
</html>