<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

    
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

    
<title>Mercado Liebre</title>

  
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" /> 
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
   

    
<link rel="stylesheet" href="./css/styles.css">
    
</head>

<body>
    
 
<header>  
     
<section class="principal">
<div class="logo">
<img src= "/images/logo-mercado-liebre.svg" alt ="Logo de Mercado Liebre">
</div>


<form id="buscar">
<input  type="search" name="Barra de busqueda" placeholder="Buscar productos, marcas..."> 
<button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>


            
<section id="pagar">
<h3><i class="fa-solid fa-hand-holding-dollar"></i><b>Compra en cuotas y sin tarjeta de crédito</b></h3>
</section>
            


      
       
        
<section class="opciones">

  
<nav id="opciones1">

   <a href ="/">Ofertas</a>
  <a href ="/">Tiendas Oficales</a>
 <a href ="/">Vender</a>
<a href ="/">Ayuda</a>
</nav>
  
<nav id="opciones2">
<a href = "/register">Creá tu cuenta <i class="fa-solid fa-address-card"></i></a>
<a href = "/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
<a href = "/">Mis Compras <i class="fa-solid fa-cart-shopping"></i></a>
</nav>



<div class="burger-menu">
<i class="fas fa-bars"></i>
</div>

</section>
</header>

    
   
   
<div id="banner"><img src= "/images/img-home-banner.jpg"></div>

     
  
    
<main>
    <form  class="registro" action="/register.html" method="get">
        <div class="formulariorioregistro">
            <div class="registrate">
            <h2> REGISTRATE </h2>
        </div>
            <div class="formulario">
                <label for="nombrecompleto"></label>
                <input type="text" name="nombrecompleto" class="ingreso" placeholder="Nombre y apellido" minlength="3" required>
                
                <label for="apodo"></label>
                <input type="text" name="apodo" class="ingreso" placeholder="Nombre de usuario" minlength="1" required> 
                
                <label for="fechanacimiento"><b>Fecha de Nacimiento</b></label>
                <input type="date" name="fechanacimiento" class="ingreso" placeholder="Fecha de nacimiento" required>
        
                <label for="domicilio"><b>Domicilio</b></label>
                <input type="text" name="domicilio" class="ingreso" placeholder="Dirección" required>
            </div>    

            <div>
                <label for="perfil" id="perfil"><h3>Perfil de Usuario</h3></label>
                <div class="perfil">
                    <p id="comprador"><input type="radio" name="comprador"> Comprador</p>
                    <p id="vendedor"><input type="radio" name="vendedor"> Vendedor</p>
                </div>   
                    
                <label for="lascategorias" id="tituloreg"><h3>Categorías de Interés</h3></label>
                <div class="categorias">
                    <p id="electro"><input type="checkbox" name="caja1" value="cat" >Electro</p>
                    <p id="moda"><input type="checkbox" name="caja2" value="cat" >Moda</p>
                    <p id="hogar"><input type="checkbox" name="caja3" value="cat" >Hogar</p>
                    <p id="jugueteria"><input type="checkbox" name="caja4" value="cat" >Juguetería</p>
                    <p id="vidaSana"><input type="checkbox" name="caja5" value="cat" >Vida Sana</p>
                </div>
            </div>                
            
            <div class="fotoperfil">
                <label for="foto perfil" class="fotousuario"><h3>Foto de Usuario</h3></label>
                <input type="file" name="cosme" class="cosme"> 
            </div>    
            
            <div class="password">
                <label for="clave"></label>
                <input type="password" name="password" class="contra" placeholder="Contraseña" minlength="4" required>

                <label for="confirmar"></label>
                <input type="password" name="password" class="contra" placeholder="Confirmar contraseña" minlength="4" required>
            </div>

            <div class="botonenviar">
                <a href="/"><button type="submit" id=enviar>Enviar</button></a>
                <a href="/register"><button type="reset" id="borrar">Borrar</button></a>
                
            </div>
            
        </div>
    </form>
    










        

    </main>

    
   
    <footer>
        <section id="pie">

            <article class="pagotarjeta">
                <section id="credito"><i class="fa-solid fa-credit-card"></i></section>
                <b>Pagá con tarjeta o en efectivo </b>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            
            <article class="enviogratis">
                <section id="envio"><i class="fa-solid fa-gift"></i></section>
                <b>Envío gratis desde $ 2.500</b>
                <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            
            <article class="protegido">
                <section id="seguridad"><i class="fa-solid fa-user-shield"></i></section>
                <b>Seguridad, de principio a fin</b>
                <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </article> 
            
            <p id="derechosautor">Copyright © 1999-2020 MercadoLiebre S.R.L</p>

        </section>
    </footer>

</body>
</html>